.header {
    background-color: blue;
    display: flex;
    color:aliceblue;
    align-items: center;
    justify-content: space-between;
    padding-left: 4em;
    padding-right: 4em;
    flex: 1;
}

.header-links {
    display: flex;
    font-size: 1.5em;
    gap: 1.5em;
    list-style: none;}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 4em;
    padding-right: 4em;
    background-color: blue;
    color: aliceblue;
    flex-wrap: wrap;
    padding-bottom: 80px;
}

.left-text {
    width: 400px;
    
}

.right-img {
    width:300px;
    background-color: beige;
    height: 300px;
    display: flex;
    flex-shrink: 0;
    color:gray;
    align-items: center;
    justify-content: center;
}